@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent: #2d8cea;
	--container-bg: #232323;
	--inner-container-bg: #1d1d1d;
	--inner-container-accent: #2a2a2a;
	--root-bg: #161616;
	--white: #ededed;
	--gray: #b1b1b1;
	--green: #22d699;
	--darkgreen: #176a4c;
	--purple: #a690e2;
	--orange: #eea53c;
}
